h1 {
  text-align: center;
  color: #000000;
  font-size: 24px;
  padding: 20px 0 20px 0;
}
.login-form {
  width: 300px;
  margin: 0 auto;
  font-family: Tahoma, Geneva, sans-serif;
}
.login-form input[type="password"],
.login-form input[type="text"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
  box-sizing:border-box;
}
.login-form button[type="submit"] {
  width: 100%;
  padding: 15px;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  margin-top: 15px;
  text-align: center;
  opacity: 0.85;
}
#login {
  background-color:#4CAF50;
}
#create {
  background-color: #f44336;
}
#login:hover {
  opacity:1;
}
#create:hover {
  opacity:1;
}
