/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background: #333;
  color: white;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.navbar a.active {
  background-color: #666;
  color: white;
}

/* Column container */
.row {
  overflow:hidden;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  float:left;
  width:30%;
  background-color: #f1f1f1;
  padding: 20px;
  height: 100vh;
}

/* Main column */
.main {
  float:right;
  width:60%;
  background-color: white;
  padding: 20px;
}

.image.resize {
  height: 20px;
  width: 100vh;
}
